.control-field{
    display: flex;
    justify-items: center;
    gap: 4px;
    padding-top: 52px;
}

.control-button{
    border-width: 1px;
    width: 80px;
    padding: 4px;
    border-radius: 3px;
    
}




