/* body.active-modal {
    overflow-y: hidden;
} */

/* .btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
} */

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.overlay {
    background: rgba(49,49,49,0.8);
    z-index: 0;
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 24px 28px;
    border-radius: 3px;
    max-width: 400px;
    min-width: 300px;
}
.short-desk{
    height: 40px;
}


form{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    gap:10px;
    padding-top: 10px;
}
h1{
    text-align: center;
    font-weight: bold;
}
.field{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    gap:4px;
    margin-top: 10px;
}
.submit, .close-modal{
    width: 50%;
    padding: 8px;
    border-radius: 6px;
    background-color: #005c58;
    color: #fff;
    font-size: 16px;
}
.submit, .close-modal, :focus{
    cursor: pointer;
    
}
.dateTime-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:4px;
    
}
.dateTime-container .date,.time{
    width:50%;
    
}