*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
.nav{
    /* background-color: #EEEEEE; */
    background-color:#005c58;
    color: #1D1D1D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    height: 100px;
    color: #fff;

}
.container{
    margin: 1rem;

}

.site-title{
    font-size: 4rem;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5px;
    padding: .5rem 0;
    
}
nav li:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.05s;

    
}
nav i{
    font-size: 2.5rem;
    margin-right: 0px;

}

nav p{
    /* font-weight: bold; */
    font-size: 1.2rem;
}

.add-event-button{
    display: flex;
    align-items: center;
}



.control-box{
    display: flex;

    justify-content:center;
    align-items: center;
    gap: 0.5rem;
    /* padding-right: 20px;
    padding-top: 25px; */
}
